button {
  display: inline-block;
  padding: 0;
  width: 21%;
  box-sizing: border-box;
  margin: 0px 2px;
}

.wide-button {
  width: 46%;
}

.blank-button {
  box-sizing: border-box;
  display: inline-block;
  width: 21%;
}

#display {
  border: 1px solid black;
  padding: 4px;
  overflow: auto;
}

#calculator {
  width: 116px;
  border: 1px solid black;
  padding: 8px;
}

.button-row {
  margin-bottom: 4px;
}
